@import "./navigation.css";
@import "./hero-section.css";
@import "./about-section.css";
@import "./menu-section.css";
@import "./gallery-section.css";
@import "./costumer-section.css";
@import "./blog-section.css";
@import "./footer-section.css";
@import "./order-section.css";

/* media screen  */
@import "../@media/m-navigation.css";
@import "../@media/m-hero-section.css";
@import "../@media/m-menu-section.css";
@import "../@media/m-about-section.css";
@import "../@media/m-gallery-section.css";
@import "../@media/m-footer-section.css";
@import "../@media/m-blog-section.css";
@import "../@media/m-customer-section.css";


/* media screen  end*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.maincontainer{
    max-width: 1270px;
    margin: auto;
    /* position: relative; */
}

.back-to-top{
    position: fixed;
    bottom: -100%;
    right: 15px;
    /* background: #fff; */
    width: 40px;
    height: 80px;
    font-size: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.show-bck-top{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}

.back-to-top ion-icon{
    transform: rotate(-45deg);
    animation: float 1s infinite;
    filter: drop-shadow(-2px 1px 5px #000000e0);
}
@keyframes float{
    100%{
        margin-top: 0;
    }
    50%{
        margin-top: 10px;
    }
    100%{
        margin-top: 0;
    }
}

@media (max-width: 390px){
    .footer-header h1,
     .gallery-header h1,
      .menu-header h1,
       .about-header h1,
       .customer-header h1,
       .blog-header h1{
        text-align: center !important;
        font-size: 23px !important;
    }
}
@media (max-width: 390px){
       .about-section h1{
        text-align: left !important;
        font-size: 20px !important;
    }
}

@media (max-width: 390px){
    .hero-section h1{
     text-align: left !important;
     /* font-size: 40px !important; */
     line-height: 50px;
     padding: 20px 0;
 }
}

